/*
Copyright (C) 2015 Big Ladder Software LLC.

This file is part of Elements.

Elements is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

Elements is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Elements.  If not, see <http://www.gnu.org/licenses/>.
*/
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace views "elements.views.*";
.title {
  font-size: 18;
  font-face: Verdana;
  paddingBottom: 20;
}
.centered {
  horizontalAlign:center;
  textAlign:center;
}
.formLabel {
  font-size: 12;
  font-face: Arial;
  color: #666666;
  verticalAlign: middle;
}
.heading {
  fontWeight: bold;
}
.keyValPair {
  verticalAlign: middle;
}
.gridHeader {
  fontWeight: bold;
  verticalAlign:middle;
  horizontalAlign:center;
  textAlign:center;
}